*,
*::after,
*::before{
    border:0;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    /* Color Variables */
    --color-primary: #ff52bf;
    --color-secondary-light: #ebfbff;
    --color-secondary-dark: #00252e;
    --color-tertiary:#808d99;

    /* Font Variables */
    --font-primary:'Poppins', sans-serif;
    --font-display: 'Open Sans',sans-serif;
    --default-font-size:1.8rem;

    /* Responsive breakpoints */
    --bp-largest: 75em; /*1200*/
    --bp-large: 62.5em; /*1000*/
    --bp-medium: 50em; /*800*/
    --bp-small: 37.5em; /*600*/
}

html{
    font-size: 62.5%; /* 1rem = 10px */
}

body{
    font-family: var(--font-display);
    color: var(--color-tertiary);
    font-weight: 400;
    line-height: 1.6;
}

.container{
    display: grid;
    grid-template-rows: 90vh min-content min-content;
    font-size: 1.8rem;
}

.header{
    background-image: linear-gradient(rgb(235, 251, 255,0.5),rgb(235, 251, 255,0.5)), url(../images/bg-hero-desktop.svg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: 15vh max-content;
    grid-template-areas: "logo-btn"
                        "header-content";
}

.header__logo__btn-container{
    grid-area: "logo-btn";
    padding:0 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    height: 3.5rem;
}

.btn, .btn:link, .btn:visited{
    text-transform: capitalize;
    text-decoration: none;
    padding: 1.3rem 5.2rem;
    font-size: var(--default-font-size);
    display: inline-block;
    border-radius: 10rem;
    border:none;
    cursor:pointer;

}

.btn:hover{
    transform:translateY(-.3rem);
    box-shadow: 0 10px 20px rgba(#000,0.8);
}

.btn:active{
    outline:none;
    transform: translateY(-.1rem);
    box-shadow: 0 5px 10px rgba(#000,0.2);
}

.btn--white{
    background-color: #fff;
    color: (var(--color-secondary-dark));
    font-weight: 700;
}

.header__section--main{
    grid-area:"header-content";
    padding:0 8rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "header-content header-image"
}

.header__content{
    display: grid;
    padding: 6rem 8rem 0 0 ;
    padding-top: 10rem;
    grid-template-rows: repeat(3,min-content);
    grid-row-gap: 1.5rem;
    grid-template-areas: "heading-main"
                        "header-text"
                        "pink-cta";
}

.heading-1{
    grid-area: "heading-main";
    padding-right: 8rem;
    font-family: var(--font-primary);
    font-weight: 600;
    color: var(--color-secondary-dark);
}

.header__text{
    grid-area: "header-text";
    color: var(--color-secondary-dark);
    font-weight: 400;
    line-height: 1.2;
}

.btn-pink{
    grid-area: "pink-cta";
    background-color:var(--color-primary);
    color: #fff;
    align-self: start;
    justify-self: start ; 
}
.header__image--container{
    grid-area: "header-image";
    display: flex;
    align-self: flex-end;
}

.header__image{
    height: 45rem;
}

.main-content{
    background-color: #fff;
    padding: 10rem 8rem;
    display: grid;
    grid-template-rows: repeat(3,min-content);
    grid-row-gap: 2rem;
    grid-template-areas: "row-1"
                        "row-2"
                        "row-3"
}

.row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 4rem;
    border-radius: 5px;
    box-shadow: 5rem 1.4rem .5rem rgba(#000,1);
    
}

.row div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:0 3.5rem;
}

.row h3{
    font-family: var(--font-primary);
    color: var(--color-secondary-dark);
    font-weight: 600;
}

.row p{
    color: var(--color-tertiary);
    font-weight: 400;
}

.row img{
    height: 30rem;
}

.block__1--image{
    padding-right: 4rem;
    justify-self: end;
}

.block__2--image{
    margin-left: 3.5rem;
}

.block__3--image{
    padding-right: 4rem;
    justify-self: end;
}

.user__message{
    border:1px solid black;
    padding: 8rem 15rem;
    background-color: pink;
    width:60%;
    margin: 0 auto;
    border-radius: 5px;
    /* justify-content: center; */
    /* align-items: center; */
}

.footer{
    background-color: var(--color-secondary-dark);
    color: var(--color-secondary-light);
    padding: 8rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(33.33%,1fr));
    grid-template-areas: "contact-details"
                        "contact-link"
                        "contact-icons";
}

.footer__details{
    grid-area: "contact-details";
    background-color: yellowgreen;
    display: grid;
    grid-template-rows: 1fr repeat(3,min-content);
    grid-row-gap: 1.2rem;
    font-size:1.6rem;
    font-weight: 400;
    line-height: 1.4;
}

.detail__container{
    display: flex;
}

.detail__container p{
    align-self: center;
}

.icon{
    height:2rem;
    width:2rem;
    margin: 1rem;
    align-self: flex-start;
}

.footer__logo{
    height:2.5rem;
    color:var(--color-secondary-light);
    margin: 2rem 0;
}

.footer__list{
    grid-area: "contact-link";
    background-color: plum;
}

.footer__links{
    grid-area: "contact-iocns";
    background-color: lightsalmon;
}
